<template>
    <div class="chatroom">
        <narrow-content class="chat" title="Chatroom聊天室">
            <div class="chat__status alert" :class="alertClass">{{status}}</div>
            <div class="chat__history">
                <div class="messageList">
                    <div class="chat__history__message" v-for="(message, index) in history" :key="index">
                        {{message.user_id.nickname||'匿名'}}: {{message.content}}
                    </div>
                </div>
            </div>
            <div class="chat__bottom">
                <div class="chat__bottom__left">
                    <div class="glyphicon glyphicon-user"></div>
                    <!-- <div class="userName" @click="setName">{{user.nickname||'匿名'}}</div> -->
                </div>
                <div class="chat__bottom__center">
                    <div class="flexTextarea">
                        <pre>{{texting}}<br></pre>
                        <textarea @keydown.enter="send" v-model="texting" name="" id="" cols="" rows="1"></textarea>
                    </div>
                </div>
                <div class="chat__bottom__right"><button @click="send">send</button></div>
            </div>
            <div class="user"></div>
        </narrow-content>
    </div>
</template>
<script>
import NarrowContent from '@/components/NarrowContent'
import toast from '../utils/toast'
import weui from 'weui.js';
export default {
    components: { NarrowContent },
    data() {
        return {
            interval: null,
            status: '连接中',
            alertClass: 'alert-info',
            texting: '',
            setNameButtons: [{
                label: '算了，匿名吧',
                type: 'default'
            },{
                label: '就这个',
                type: 'primary',
                onClick: this.setName
            }],
            currentSlot: 'confirm'
        }
    },
    computed: {
        user() {
            return this.$store.getters.user
        },
        connected() {
            return this.$store.state.socket.connected
        },
        history() {
            return this.$store.getters.chatHistory
        }
    },
    sockets: {
        'SEND_EMPTY'() {
            this.emptyToast()
        }
    },
    mounted() {
        this.initChatRoom()
    },
    methods: {
        initChatRoom() {
            let count = 0
            let setStatus = () => {
                if (this.connected) {
                    this.status = '已连接'
                    this.alertClass = 'alert-success'
                    setTimeout(() => {
                        this.alertClass = 'alert-success fadeup'
                    }, 2000);
                } else {
                    count++
                    this.status = '连接中' + new Array(count%3+1).fill('.').join('')
                    setTimeout(setStatus, 1200);
                }
            }
            setStatus()
            if (!this.$store.getters.user.nickname) {
                weui.dialog({
                    content: `昵称：<input id="nickname" type="text"/>`,
                    buttons: [{
                        label: '匿名聊天',
                        type: 'default'
                    },{
                        label: '确定',
                        type: 'primary',
                        onClick: this.setName
                    }]
                })
            }
        },
        setName() {
            let nickname = document.getElementById('nickname').value
            if (nickname) {
                this.$socket.emit("UPDATE_NICKNAME",nickname)
            } else {
                toast('请输入昵称','nickname')
                return false
            }
        },
        send() {
            if (this.texting) {
                this.$socket.emit('SEND',this.texting)
                this.texting = ''
            } else {
                this.emptyToast()
            }
        },
        emptyToast() {
            toast('不能发送空消息哦~','empty')
        }
    }
}
</script>
<style lang="scss" scoped>
$wechatGreen: #a2e562;
.chat {
    height: 100%;
    &__status {
        position: absolute;
        text-align: center;
        transition: 1000ms;
        height: 1.7em;
        width: 100%;
        opacity: 1;
        padding: 0;
        margin: 0;
        top: 0;
        &.fadeup {
            top: -1.7em;
            opacity: 0;
        }
    }
    &__history {
        height: calc( 100vh - 8.8em );
        overflow: auto;
        padding: 0 1em;
        .messageList {
            
        }
        &__message {

        }
    }
    &__bottom {
        width: 100%;
        position: absolute;
        padding: .5em 0;
        bottom: 0;
        right: 0;
        &__left {
            min-width: .4em;
            min-height: 1em;
            float: left;
            .glyphicon {
                position: relative;
                padding: 0 .5em;
                top: .3em;
            }
        }
        &__center {
            display: block;
            margin-right: 3.6em;
        }
        &__right {
            width: 3.6em;
            position: absolute;
            text-align: center;
            bottom: .5em;
            right: 0;
        }
    }
}
.userName {
    padding: 0 .8em
}
.flexTextarea {
    position: relative;
    overflow: hidden;
    @mixin t {
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid #cccccc;
        word-break: break-all;
        white-space: inherit;
        font-size: .8125em;
        line-height: 1.6;
        transition: .2s;
        display: block;
        padding: .2em;
        width: 100%;
        margin: 0;
    }
    pre {
        @include t;
        max-height: 8em;
        visibility: hidden;
    }
    textarea {
        @include t;
        // opacity: .5;
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
    }
}
</style>
