<template>
    <div>
        <narrow-content title="userinfo用户信息">
            <we-form title="BASIC基本信息">
                <we-input label="姓名" placeholder="您的姓名"></we-input>
                <we-input label="昵称" placeholder="在聊天中显示"></we-input>
                <we-input label="手机号" placeholder="手机号"></we-input>
            </we-form>
        </narrow-content>
    </div>
</template>
<script>
import NarrowContent from '@/components/NarrowContent'
import weInput from '@/components/weui/weui-input'
import weForm from '@/components/weui/weui-form'
export default {
    components: { NarrowContent,weInput,weForm },
    data() {
        return {
            
        }
    }
}
</script>
