<template>
	<div class="page">
		<narrow-content title="周报生成器">
			<div class="report">
				<span class="hide">{{reportData.name}}</span><input v-model="reportData.name" type="text" placeholder="姓名">
				<div>报告周期：{{reportData.duration.start|dateFormate}} - {{reportData.duration.end|dateFormate}}</div>
				<div class="list">
					<div class="list__title">【本周完成工作】</div>
					<div class="list__item" v-for="(item, i) in reportData.thisWeek" :key="i">
						<span class="list__item__left">{{i+1}}、</span>
						<div class="list__item__right"><div class="del u-icon-radioDelete" @click="del('thisWeek',i)"></div></div>
						<div class="list__item__center" contenteditable @blur="update($event,'thisWeek',i)">{{item}}</div>
					</div>
					<div class="list__item new"><input type="text" placeholder="创建新条目..." v-model="newRecord.thisWeek" @keypress.enter="add('thisWeek')"/></div>
				</div>
				<div class="list">
					<div class="list__title">【下周工作计划】</div>
					<div class="list__item" v-for="(item, i) in reportData.nextWeek" :key="i">
						<span class="list__item__left">{{i+1}}、</span>
						<div class="list__item__right"><div class="del u-icon-radioDelete" @click="del('nextWeek',i)"></div></div>
						<div class="list__item__center" contenteditable @blur="update($event,'nextWeek',i)">{{item}}</div>
					</div>
					<div class="list__item new"><input type="text" placeholder="创建新条目..." v-model="newRecord.nextWeek" @keypress.enter="add('nextWeek')"/></div>
				</div>
			</div>
			<a class="btn submit" @click="createFile">生成报告</a>
		</narrow-content>
	</div>
</template>
<script>
import NarrowContent from '@/components/NarrowContent'
export default {
	components: { NarrowContent },
    data() {
		return {
			reportData: {
				name: localStorage.getItem('reportName'),
				duration: {
					start: null,
					end: null
				},
				thisWeek: ['12312'],
				nextWeek: []
			},
			newRecord: {
				thisWeek: null,
				nextWeek: null
			}
		}
	},
	filters: {
		dateFormate(time) {
			const t = new Date(time)
			return `${t.toLocaleDateString()}（周${t.getDay()}）`
		}
	},
	methods: {
		init() {
			const today = new Date()
			const thisMonday = today.getDate() - today.getDay() + 1
			const thisFriday = thisMonday + 4
			this.reportData.duration = {
				start: today.setDate(thisMonday),
				end: today.setDate(thisFriday)
			}
		},
		add(key) {
			this.reportData[key].push(this.newRecord[key])
			this.newRecord[key] = null
		},
		update(event,obj,key) {
			this.$set(this.reportData[obj],key,event.target.innerText)
		},
		del(obj,key) {
			confirm(`确定要删除${this.reportData[obj][key]}吗？`)&&this.reportData[obj].splice(key,1)
		},
		createFile() {
			if (!this.reportData.name) {
				alert('请填写姓名')
				return
			} else {
				localStorage.setItem('reportName',this.reportData.name)
			}
			const aTag = document.createElement('a')
			const text = document.querySelector('.report').innerText
			const blob = new Blob([text])
			aTag.download = `${this.reportData.name||'new'}.txt`
			aTag.href = URL.createObjectURL(blob)
			aTag.click()
			URL.revokeObjectURL(blob)
		}
	},
	mounted() {
		this.init()
	},
}
</script>
<style lang="scss" scoped>
.page {
	font-size: .28rem;
	padding: .2rem;
}
.hide {
	color: transparent;
	font-size: 0;
}
.list {
	&__item {
		padding: 0 .4rem;
		line-height: .5rem;
		&__left {
			width: .5rem;
			float: left
		}
		&__right {
			position: relative;
			width: .5rem;
			float: right;
			.del {
				position: absolute;
				height: .4rem;
				width: .4rem;
				left: .05rem;
				top: .05rem;
			}
		}
		&__center {
			width: calc( 100% - 1rem );
			display: inline-block;
			// color: transparent;
			// font-size: 0;
			input {
				color: black;
				border: 0;
			}
		}
		&.new {

		}
	}
}
.submit {
	border: .02rem solid black;
	padding: .2rem;
	color: black;
}
.u-icon-radioDelete
{
    position: relative;
    border: .02rem solid #8AADD8;
    border-radius: .48rem;
}

.u-icon-radioDelete::after
{
    position: absolute;
	top: .17rem;
    left: .06rem;
    width: .25rem;
	height: .04rem;
	background-color: #8AADD8;
    color: #8AADD8;
    content: "\20";
}

.u-icon-radioDelete.on,.on .u-icon-radioDelete 
{
    -webkit-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
}

</style>
