<template>
    <div class="childPageWrapper">
        <div class="childPage">
            <slot></slot>
        </div>
    </div>
</template>
<script>
export default {
    props: ['show']
}
</script>
<style lang="scss" scoped>
.childPageWrapper {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    .childPage {
        background-color: whitesmoke;
    }
}
</style>
