<template>
    <div class="narrow-content">
        <h2 class="heading animate-box" data-animate-effect="fadeInLeft" v-if="title">{{title}}</h2>
        <div class="row">
            <slot></slot>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        title: String
    }
}
</script>
<style lang="scss" scoped>
.narrow-content {
    .heading {
        line-height: 1;
    }
}
</style>
