<template>
    <div class="dialogWrapper">
        <div class="dialog">
            <div v-for="(slot, i) in $slots" :key="i" v-show="currentSlot===i">
                <slot :name="i"></slot>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ['currentSlot'],
    mounted() {
        console.log(this);
    }
}
</script>
<style lang="scss" scoped>
.dialogWrapper {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    .dialog {
        transform: translate(-50%,-50%);
        background-color: white;
        border-radius: 5px;
        position: absolute;
        transition: 200ms;
        overflow: hidden;
        left: 50%;
        top: 50%;
        &__content {
            padding: 1em;
        }
    }
}
</style>
