<template>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">{{label}}</label></div>
        <div class="weui-cell__bd">
            <input v-bind="value" v-on:input="$emit('input', $event.target.value)" class="weui-input" type="text" :pattern="pattern" :placeholder="placeholder"/>
        </div>
    </div>
</template>
<script>
export default {
    props: ['label','value','placeholder','pattern'],
}
</script>
