<template>
    <div>
        <div class="weui-cells__title" v-if="title">{{title}}</div>
        <div class="weui-cells weui-cells_form">
            <slot></slot>
        </div>
    </div>
</template>
<script>
export default {
    props: ['title']
}
</script>
