<template>
    <we-mask>
        <div class="weui-dialog weui-animate-fade-in">
            <div class="weui-dialog__bd">
                <slot></slot>
            </div>
            <div class="weui-dialog__ft">
                <div class="weui-dialog__btn" :class="buttonClasses(this.buttons[0].type)" @click="this.buttons[1].onClick">{{this.buttons[0].label}}</div>
                <div class="weui-dialog__btn" :class="buttonClasses(this.buttons[1].type)" @click="this.buttons[1].onClick">{{this.buttons[1].label}}</div>
            </div>
        </div>
    </we-mask>
</template>
<script>
import weMask from './weui-mask'
export default {
    components: { weMask },
    props: {
        content: String,
        buttons: {
            type: Array,
            default() {
                return [{
                    label: '取消',
                    type: 'default'
                },{
                    label: '确定',
                    type: 'primary'
                }]
            }
        }
    },
    methods: {
        buttonClasses(type) {
            return type ? 'weui-dialog__btn_' + type : ''
        }
    }
}
</script>
<style lang="scss" scoped>
.weui-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
}
</style>
